---
import { ViewTransitions } from "astro:transitions";

import { locales } from "@/utils/i18n.ts";
import Navbar from "@/components/custom/navbar.astro";

interface Props {
    title: string;
    description?: string;
    locale?: string;
    continuous?: boolean;
}

const { title, description, locale, continuous } = Astro.props;
---

<html class="h-full" lang={locale}>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={description ?? "Paperloop"}>
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta property="og:image" content="/og-image.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="generator" content={Astro.generator} />
        {locales.map(lang =>
            <link rel="alternate" hreflang={lang} href={`https://paperloop.io/?lang=${lang}`} />
        )}
        <link rel="alternate" hreflang="x-default" href="https://paperloop.io/" />
        <title>{title} | Paperloop</title>
        <slot name="head"></slot>
        <ViewTransitions />
    </head>
    <body class={`antialiased ${!continuous ? "h-full flex flex-col" : ""}`}>
        <Navbar>
            <slot name="navbar"></slot>
        </Navbar>
        <main class="flex-1 p-4 md:p-8 overflow-auto">
            <slot></slot>
        </main>
    </body>
</html>

<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll("time").forEach(time => {
            time.textContent = new Date(time.dateTime).toLocaleString(undefined, {
                dateStyle: "medium",
                timeStyle: "short"
            });
        });
    });
</script>

<style>
    @media print { 
        main {
            overflow: visible;
            padding: 0;
        }
    }
</style>
