---
import { ViewTransitions } from "astro:transitions";

import { locales } from "@/utils/i18n.ts";
import Navbar from "@/components/custom/navbar.astro";

interface Props {
    title: string;
    description: string;
    locale?: string;
}

const { title, description, locale } = Astro.props;
---

<html class="h-full" lang={locale}>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={description}>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="generator" content={Astro.generator} />
        {locales.map(lang =>
            <link rel="alternate" hreflang={lang} href={`https://doclino.app/?lang=${lang}`} />
        )}
        <link rel="alternate" hreflang="x-default" href="https://doclino.app/" />
        <title>{title} | Doclino</title>
        <slot name="head"></slot>
        <ViewTransitions />
    </head>
    <body class="antialiased h-full flex flex-col">
        <Navbar></Navbar>
        <main class="flex-1 p-8">
            <slot></slot>
        </main>
    </body>
</html>
