---
import "@/styles/globals.css";
import { and, db, eq, Document } from "astro:db";
import { Button } from "@/components/ui/button";
import { IconButton } from "@/components/ui/icon-button";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import { DocumentMenu } from "@/components/ui/document-menu";
import { Eraser, Maximize } from "lucide-react";

import Layout from "@/components/custom/layout.astro";
import Particles from "@/components/custom/particles.astro";
import DocumentHeader from "@/components/custom/document-header.astro";
import ContentEditable from "@/components/custom/content-editable.astro";
import DocumentRender from "@/components/custom/document-render.astro";
import { defaultLocale, getClientTranslations, getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

if (!Astro.locals.user) return Astro.redirect("/auth");

const { doc } = Astro.params;
if (!doc) return Astro.redirect("/404");

const entry = await db.select().from(Document).where(
    and(eq(Document.id, doc), eq(Document.user, Astro.locals.user.id))
).get();
if (!entry) return Astro.redirect("/404");

const locale = getPreferredLocale(Astro.request.headers) ?? defaultLocale;
const i18n = getTranslations(locale);

// TODO: Move DocumentMenu to a reusable component and remove here
const client = getClientTranslations(locale);
---

<Layout title={entry.name || i18n("new-document")} locale={locale}>
    <Button id="mobile-toggle" slot="navbar" variant="outline" size="sm" className="lg:hidden">
        {i18n("preview")}
    </Button>
    <Particles data={{ id: entry.id, version: entry.version }}></Particles>
    <div class="h-full flex gap-4">
        <div id="editor-card" class="flex-1" transition:name={entry.id}>
            <Card className="h-full flex-1 overflow-auto">
                <CardHeader>
                    <DocumentHeader doc={entry}>
                        <ContentEditable slot="title" placeholder={i18n("new-document")}>
                            {entry.name}
                        </ContentEditable>
                        <DocumentMenu
                            slot="actions"
                            id={entry.id}
                            document={entry.document}
                            version={entry.version}
                            translations={client}
                            client:only="react"
                        ></DocumentMenu>
                    </DocumentHeader>
                </CardHeader>
                <CardContent>
                    <article id="editor" class="whitespace-pre-line" data-placeholder={i18n("write-something")}>
                        {entry.markdown}
                    </article>
                </CardContent>
            </Card>
        </div>
        <Card id="preview-card" className="hidden lg:block h-full flex-1 overflow-auto">
            <CardHeader>
                <CardTitle className="flex items-center justify-between">
                    <span>
                        {i18n("preview")}
                    </span>
                    <div class="flex gap-2">
                        <IconButton icon={Eraser} tooltip="clear"></IconButton>
                        <IconButton icon={Maximize} tooltip="render"></IconButton>
                    </div>
                </CardTitle>
            </CardHeader>
            <CardContent>
                <DocumentRender doc={entry.document} value={entry.markdown}></DocumentRender>
            </CardContent>
        </Card>
    </div>
</Layout>

<script>
    import { actions } from "astro:actions";
    import { navigate } from "astro:transitions/client";
    import { standardKeymap, historyKeymap, history } from "@codemirror/commands";
    import { EditorView, keymap, placeholder } from "@codemirror/view";
    import { markdown } from "@codemirror/lang-markdown";
    import { getParticles } from "@/utils/particles";
    import { updateRender } from "@/utils/markdown";
    import { debounce } from "@/utils/debounce";

    document.addEventListener("astro:page-load", () => {
        const editor = document.getElementById("editor");
        if (!editor) return;

        const fallback = editor.getAttribute("data-placeholder") ?? String();
        let value = editor.textContent?.trim() ?? String();
        editor.textContent = String();

        const { id, version } = getParticles<{ id: string; version?: number; }>();
        const updateDocument = debounce((value: string) => {
            actions.updateDocument({
                id,
                markdown: value
            });
        }, 1000);

        new EditorView({
            parent: editor,
            doc: value,
            extensions: [
                EditorView.lineWrapping,
                keymap.of(standardKeymap),
                keymap.of(historyKeymap),
                history(),
                markdown(),
                placeholder(fallback),
                EditorView.editable.of(!version),
                EditorView.updateListener.of(update => {
                    if (update.docChanged) {
                        value = update.state.doc.toString();
                        updateRender.setValue?.(value);
                        updateDocument(value);
                    }
                })
            ]
        });

        const editorCard = document.getElementById("editor-card");
        const previewCard = document.getElementById("preview-card");
        document.querySelector("#mobile-toggle")?.addEventListener("click", () => {
            for (const element of [editorCard, previewCard]) {
                element?.classList.toggle("hidden");
                element?.classList.toggle("lg:block");
            }
        });

        const nameInput = document.querySelector("div[contenteditable]");
        nameInput?.addEventListener("blur", () => {
            if (nameInput) {
                actions.updateDocument({
                    id,
                    name: nameInput.textContent ?? String()
                });
            }
        });

        document.querySelector("button#clear")?.addEventListener("click", () => {
            updateRender.setValues?.({});
        });

        document.querySelector("button#render")?.addEventListener("click", () => {
            navigate(`/docs/${id}/render`);
        });
    });
</script>

<style is:inline>
    .cm-editor.cm-focused {
        outline: none;
    }

    .cm-editor .cm-scroller, .cm-editor .cm-content, .cm-editor .cm-line {
        padding: unset;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        caret-color: inherit;
    }

    .cm-editor .cm-placeholder {
        color: hsl(var(--placeholder));
    }
</style>
