---
import "@/styles/globals.css";
import { db, Document, eq } from "astro:db";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";

// TODO: Add reusable document-header and remove here
import { Badge } from "@/components/ui/badge";

import Layout from "@/components/custom/layout.astro";
import { defaultLocale, getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

const { doc } = Astro.params;
if (!doc) return;

const entry = await db.select().from(Document).where(eq(Document.id, doc)).get();
if (!entry) return;

const docs = await db.select().from(Document).where(eq(Document.document, entry.document));
if (!docs) return;

const locale = getPreferredLocale(Astro.request.headers) ?? defaultLocale;
const i18n = getTranslations(locale);
---

<Layout title="Doc" description="Doc" locale={locale}>
    <div class="h-full flex justify-end gap-4">
        {docs.map(doc =>
            <a href={`/docs/${doc.id}`} class="w-1/3" transition:name={doc.id}>
                <Card className="flex flex-col h-full cursor-pointer hover:bg-gray-50 hover:border-gray-300">
                    <CardHeader>
                        <CardTitle>
                            <div class="flex items-center gap-2">
                            {entry.name}
                            <Badge variant="outline" className="bg-white">
                                {doc.version
                                    ? `${i18n("version")} ${doc.version}`
                                    : i18n("draft")
                                }
                            </Badge>
                        </div>
                        </CardTitle>
                    </CardHeader>
                    <CardContent className="flex-1">
                        <article class="whitespace-pre-line">
                            {doc.markdown}
                        </article>
                    </CardContent>
                </Card>
            </a>
        )}
    </div>
</Layout>
